{{#conf}}
<div id="{{.clazz.getName()}}">
    {{#.params}}
    <div class="form-group">
        <label class="control-label">{{.getNiceName()}}:</label>
        {{#.isTypeString()}}<input type="text" class="form-control" name="{{.getName()}}">{{/#.isTypeString()}}
        {{#.isTypeInt()}}<input type="number" class="form-control" name="{{.getName()}}">{{/#.isTypeInt()}}
        {{#.isTypeBoolean()}}
        <input type="hidden" name="{{.getName()}}" value="false">
        <input type="checkbox" name="{{.getName()}}" value="true">
        {{/#.isTypeBoolean()}}
        {{#.isTypeEnum()}}
        <select class="form-control" name="{{.getName()}}">
            {{#.getPossibleValues()}}<option>{{.}}</option>{{/.getPossibleValues()}}
        </select>
        {{/#.isTypeEnum()}}
    </div>
    {{/.params}}
</div>
{{/conf}}