{{#conf}}
<div id="{{.clazz.getName()}}">
    {{#.params}}
    <div class="form-group">
        <label for="input-{{.getName()}}" class="form-label">{{.getNiceName()}}:</label>

        {{#.isTypeString()}}<input type="text" class="form-control" id="input-{{.getName()}}" name="{{.getName()}}">{{/#.isTypeString()}}
        {{#.isTypeNumber()}}<input type="number" class="form-control" id="input-{{.getName()}}" name="{{.getName()}}">{{/#.isTypeNumber()}}
        {{#.isTypeBoolean()}}<input type="checkbox" id="input-{{.getName()}}" name="{{.getName()}}" value="true">{{/#.isTypeBoolean()}}
        {{#.isTypeSelection()}}
        <select class="form-control" id="input-{{.getName()}}" name="{{.getName()}}">
            {{#.getPossibleValues()}}<option>{{.}}</option>{{/.getPossibleValues()}}
        </select>
        {{/#.isTypeSelection()}}

        {{#.getDescription()}}
        <div class="form-text">{{.getDescription()}}</div>
        {{/#.getDescription()}}
    </div>
    {{/.params}}
</div>
{{/conf}}