

/* LOG LEVELS */
.WARNING { 
  -fx-control-inner-background: paleyellow;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.FINE { 
  -fx-control-inner-background: skyblue;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.FINER { 
  -fx-control-inner-background: skyblue;
  -fx-accent: derive(-fx-control-inner-background, -25%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}
.FINEST { 
  -fx-control-inner-background: skyblue;
  -fx-accent: derive(-fx-control-inner-background, -10%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.ERROR { 
  -fx-control-inner-background: palevioletred;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}